body {
  text-align: center;
  font-family: 'Maitree', serif;
}

header {
  background: radial-gradient(#663135 20%, #33181a);
  padding: 20px;
  color: white;
}

.descriptionSection {
  background: radial-gradient(#663135 20%, #33181a);
}

b{
  font-family: 'Rokkitt', serif;
}
